@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

@theme {
  --color-primary: #0F172A;
  --color-accent: #D97706;
  --color-surface: #F8FAFC;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-heading: "Outfit", sans-serif;
}

@layer base {
  body {
    @apply bg-surface text-slate-800 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-primary;
  }
}